<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/world-cup.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        {{>header}}
        <p>This site was created by Eric. It uses data from mapbox and weatherstack.</p>
        <img class="portrait" src="/img/images.png">
        {{>footer}}
    </body>
</html>